header{
    margin: 20px;
    padding: auto;
    background-color: blue;
    color: cornsilk;
    
}
main{
    margin: 20px;
    padding: 10px;
    border: 1px solid green;
}
aside{
    border: 5px dotted yellow
}
footer{background-color: teal;
}
.grid-container{
    border: 1px solid red;
}
.flex-container{
    border: 1px dotted black;
    margin: 10px;
    background-color: chartreuse;
}
#name{
    background-color: tomato;
    color: purple;
}
